.hero {
  width: var(--container-width);
  height: 420px;
  background: url('../assets/bannerbackground.png') no-repeat center center;
  background-size: cover;
  border-radius: 30px;
  padding: 64px;
  display: flex;
  position: relative;
  margin-top: 20px;
}
.hero__slide {
  border-radius: 30px;
}
.page-wrapper {
  padding-top: 172px;
  padding-left: 177px;
  padding-right: 177px;
}
.hero__content {
  max-width: 1218px;
  color: var(--color-grey-50);
}
.hero__title {
  font-family: var(--font-family);
  font-weight: var(--fw-bold);
  font-size: var(--fs-display);
  line-height: 100%;
  letter-spacing: -0.5px;
  margin-bottom: 12px;
  margin-top: 48px;
}
.hero__subtitle {
  font-family: var(--font-family);
  font-weight: var(--fw-light);
  font-size: var(--fs-body-xl);
  line-height: 100%;
  margin-bottom: 40px;
  opacity: 0.8;
}
.hero__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 17px 25px;
  width: 206px;
  height: 64px;
  background: var(--color-purple-500);
  color: var(--color-grey-50);
  text-decoration: none;
  border-radius: 8px;
  margin-top: 40px;
  transition: background 0.3s ease;
    font-size: var(--fs-h4);
  font-weight: var(--fw-semibold);
}
.hero__btn:hover {
  background: var(--color-purple-600);
}
.hero__carousel-nav {
  position: absolute;
  bottom: 40px;
  left: 64px;
  right: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__dots {
  display: flex;
  padding-bottom: 78px;
  padding-left: 685px;
  gap: 8px;
}
.hero__dot {
  width: 57px;
  height: 8px;
  background: #C1BCBC80;
  border-radius: 999px;
  cursor: pointer;
}
.hero__dot--active {
  background: var(--color-grey-100);
}
.hero__arrows {
  display: flex;
  gap: 12px;
}
.hero__arrow {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}
.hero__arrow:hover {
  background: rgba(255, 255, 255, 0.15);
}
.hero__arrow img {
  width: 44px;
  height: 44px;
  opacity: 0.7; 
  transition: opacity 0.3s;
}
.hero__arrow:hover img {
  opacity: 1;
}
.hero__arrow:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.hero__arrow:disabled:hover {
  background: transparent;
}
.hero__slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 400ms ease;
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hero__slide.is-active {
  opacity: 1;
}


.featured,
.in-progress {
  max-width: 1566px;
  margin: 64px auto;
  
}
.in-progress__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.progress__card:hover {
  border: 0.5px solid var(--color-purple-200);
  box-shadow: 0px 0px 25px 0px rgba(138, 130, 212, 0.1);
  cursor: pointer;
}
.progress__card:active,
.progress__card.is-selected {
  border: 1px solid var(--color-purple-300);
  box-shadow: 0px 0px 35px 0px rgba(138, 130, 212, 0.25);
}
.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  height: 48px;
}

.section__title {
  color: var(--color-grey-800);
}

.section__subtitle {
  color: var(--color-grey-700);
  margin-top: 6px;
  margin-bottom: 32px;
}

.section__see-all {
  color: var(--color-purple-500);
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 6px;
}

.featured__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.featured__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--color-grey-50);
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  border-radius: 12px;
  border: 1px solid var(--color-grey-100);
  padding: 20px;
}
.featured__card:hover {
  border: 0.5px solid var(--color-purple-200);
  box-shadow: 0px 0px 25px 0px rgba(138, 130, 212, 0.1);
  cursor: pointer;
}
.featured__card:active,
.featured__card.is-selected {
  border: 1px solid var(--color-purple-300);
  box-shadow: 0px 0px 35px 0px rgba(138, 130, 212, 0.25);
}
.featured__card-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.featured__card-img {
  width: 100%;
  height: 264px;
  background: var(--color-grey-100);
  overflow: hidden;
  border-radius: 10px;
}
.featured__card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.featured__card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  padding: 16px 0 0 0;
  width: 100%;
}

.featured__card-instructor {
  color: var(--color-grey-500);
}

.featured__card-category {
  color: var(--color-purple-500);
  text-transform: uppercase;
}

.featured__card-title {
  color: var(--color-grey-900);
}

.featured__card-desc {
  color: var(--color-grey-500);
  flex: 1;
}

.featured__card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 24px;
}

.featured__card-price {
  color: var(--color-grey-900);
}

.featured__card-rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.featured__card-star {
  color: var(--color-warning);
}

.featured__card-rating-value {
  color: var(--color-grey-600);
}

.featured__card-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--color-purple-500);
  color: var(--color-grey-50);
  border-radius: 8px;
  padding: 17px 25px;
}
.progress__view-btn {
  padding: 8px 20px;
  color: var(--color-purple-500);
  border-radius: 8px;
  text-decoration: none;
  border: 2px solid var(--color-purple-300);
}

.progress-locked {
  position: relative;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  padding-bottom: 120px;
}

.progress-locked__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 24px; 
  width: 100%;
  filter: blur(20px); 
}

.progress__card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px; 
  background: var(--color-grey-50);
  border-radius: 12px;
  border: 1px solid var(--color-grey-200);
  width: 506px;
  height: 219px;
  box-sizing: border-box;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.progress__card-top-row {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.progress__card-img {
  width: 140px;
  height: 123px;
  flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;
}
.progress__card-title {
  height: 48px;
  padding-top: 9px;
}
.progress__card-star{
  color: var(--color-warning);
}
.progress__card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.progress__card-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.progress__card-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 306px;
}

.progress__card-bottom-row {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  height: 48px;
}

.progress__bar-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.progress__bar {
  width: 100%;
  height: 15px;
  background: var(--color-grey-200);
  border-radius: 10px;
}

.progress__bar-fill {
  height: 100%;
  background: var(--color-purple-500);
  border-radius: 10px;
}

.progress-locked__overlay {
  position: absolute;
  top: 0;
  width: 418px;
  height: 233px;
  left: 50%;
  transform: translateX(-50%); 
  
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.progress-locked__box {
  background: #ffffff;
  padding: 27px 56px;
  border-radius: 12px;
  text-align: center;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.progress-locked__icon {
  width: 74px;
  height: 74px;
  border-radius: 50px;
  background-color: var(--color-purple-100);
  color: var(--color-purple-500);
}

.progress-locked__icon img {
  width: 34px;
  height: 37px;
  
  padding: 20px;
  object-fit: cover;
  object-position: center;
}

.progress-locked__text {
  font-size: 16px;
  color: var(--color-purple-900);
}

.progress-locked__btn {
  background-color: var(--color-purple-500);
  color: var(--color-grey-100);
  padding: 9px 18px;
  border-radius: 8px;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  gap: 10px;
  width: 83px;
  height: 42px;
}

.featured__card--skeleton,
.progress__card--skeleton {
  pointer-events: none;
}

.skel {
  background: linear-gradient(90deg, var(--color-grey-100) 25%, var(--color-grey-200) 50%, var(--color-grey-100) 75%);
  background-size: 200% 100%;
  border-radius: 6px;
}

.skel--img {
  width: 100%;
  height: 200px;
  border-radius: 0;
}

.skel__body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.skel--line { height: 14px; width: 80%; }
.skel--short { width: 50%; }


.footer {
  margin: 120px 177px 20px 177px;
  font-family: 'Inter', sans-serif;
}

.footer__container {
}

.footer__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  border-radius: 10px;
  width: 45px;
  height: 45px;
  color: var(--color-purple-800);
}
.footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__description {
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-purple-800);
  margin-bottom: 24px;
  padding-top: 16px;
  padding-bottom: 24px;
}

.footer__socials {
  gap: 22px;
  width: 177px;
  height: 19px;
}

.footer__nav {
  display: flex;
  gap: 120px;
}

.footer__title {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-purple-800);
  margin-bottom: 20px;
}

.footer__list{
    padding-top: 16px;
    list-style: none;
}

.footer__list a {
  color: var(--color-grey-500);
  text-decoration: none;
}
.footer__list li{
    margin-bottom: 8px;
}
.footer__contact-list li {
  display: flex;
  align-items: center;
  color: var(--color-grey-500);
  margin-bottom: 10px;
}

.footer__bottom {
  
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-grey-500);
  font-size: 13px;
}

.footer__legal {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__legal a {
  color: var(--color-purple-500);
  text-decoration: none;
}

.footer__divider {
  color: var(--color-grey-500);
}